#Title {
	background-color: #232323;
	height: 70px;
	margin-top: -21px;
	width: 100%;
	color: whitesmoke;
}

#editor {
    position: absolute;
    width: 500px;
    height: 400px;
    margin-top: 0px;
}

#form {
	margin-top: 10px;
	margin-left: 10px
}

h1.Title{
	margin-left: 10px;
}

button.Button {
	background: none repeat scroll 0 0 #00CC00;
	font-size: 26px;
	color: black;
	padding: 8px 22px;
	border-radius: 100px;
	border: 3px solid #808080;
	right: 20px;
	cursor: pointer;
	margin-left: 10px;
}

button.Button:hover {
	background: #00FF00;
	color: black;
}

button.Button:active {
	background: #00FF66;
}